{% block stylesheets %}
<link rel="stylesheet" href="navbar/css/bootstrap.min.css">
<link rel="stylesheet" href="navbar/css/style.css">
{% endblock %}

<header class="site-navbar mt-2 bg-dark text-white">
<div class="container-fluid">
  <div class="row align-items-center">
    <div class="site-logo col-6"><a href="{{path ("app_main")}}">SIF</a>
    </div>
    <nav class="mx-auto site-navigation">
      <ul class="site-menu js-clone-nav d-none d-xl-block ml-0 pl-0">
        <li><a href="{{path ("app_main")}}" class="nav-link active">Accueil</a></li>
        <li><a href="{{path ("app_main")}}">Astuce</a></li>
        <li><a href="{{path ("app_main")}}">Comment cela fonctionne ?</a></li>
        <li><a href="{{path ("app_main")}}">Contact</a></li>
      </ul>
    </nav>
    
    <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
      <div class="ml-auto">
        <a href="{{path ("security.registration")}}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"></span>Sign In</a>
        <a href="{{path ("security.login")}}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"></span>Log In</a>
      </div>
    </div>
  </div>
</div>
</header>