
{% block stylesheet%} 
<style type="text/css">
    * {
        font-family: Verdana, Arial, sans-serif;
        padding: 0;
        margin:0;
    }
    caption, td, thead {
        padding: 5px;
    }

    td{
        border:2px solid black;
    }

    .tableau-1{
        padding-top:30px
    }

    .regle{
        margin: 20px;
    }
    .regle p{
        padding: 5px;

    }

    .titleRegle{
        padding-bottom: 10px;
        margin: 20px;
    }
    
    table{
        width:95%;
        padding-left: 15px;
        margin-left: 15px;
        padding-right: 15px;
        margin-right: 15px;
        padding: 5px;
        border:2px solid black;
    }

    .vide-tableau1 {
        background-color: white;
        font-weight:bold;
        table-layout: auto;
    }

    .gras-tableau{
        font-weight:bold;
    }
    .vide-tableau3 {
        border-style:none;
        background-color: white;
        font-weight:bold;
        table-layout: auto;
        width: 110px;
    }
</style> 
{%endblock%}

{% block body %}
    <div  class="tableau-1">
        <table >
        
            <tr >
                <td valign="top" class="vide-tableau3"> <img src="{{imageSrc}}" height="136" width="312"/></td>
            {% for name in names %}
                <td align="left" colspan="1"><strong> Delivery Note (Bon de commande N°{{name.id}})</strong></td>
            {%endfor%}
            {% for product in products %}
                <td align="left" valign = "top" >Identifiant produit: {{product.identifiant}}</td>
            {%endfor%}
            </tr>    
            
            {% for collaborateur in collaborateurs %}
            <tr>
                <td class ="vide-tableau1">Affecté à </td>
                <td colspan="3"> {{collaborateur.nom | upper}} {{collaborateur.prenom}}</td>
            </tr>
            
            
            {%endfor%}
            <tr>
                <td class ="vide-tableau1" >Date de restitution</td>
                {% for attribution in attributions %}
                <td colspan="3" > {{attribution.dateRestitution | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}} </td>
            </tr>
            {%endfor%}
        </table>
    </div>

<br>
    <div class="tableau-2">
        <table>
            <thead style="background-color: lightgray;">
                <tr>
                    <td class = "gras-tableau">Materiel</td>
                    <td class = "gras-tableau">Description</td>
                    <td class = "gras-tableau">Qté</td>
                    <td class = "gras-tableau">Remarques</td>
                </tr>
            </thead>
            {% for product in products %}
            <tr>
                <td valign = "top">{{product.category}}</td>
                <td valign = "top" >
                    <p>{{product.nom}}</p>
                    <p>REF Log : {{product.ref}}</p>
            {%endfor%}
            {% for description in descriptions %}
                {% if description.descriptionProduct != ""%}
                    <p>{{description.descriptionProduct}}</p>
                {%else%}
                    <p>Aucune description</p>
                {% endif %}
                </td>
                {% endfor %}
                <td valign = "top"> 1 </td>
                {% for remarque in remarques %}
                {% if remarque.remarque != "" %}
                <td valign = "top" >{{remarque.remarque}} </td>
                {% else %}
                <td valign = "top" >Aucune remarque</td>
                {% endif %}
            </tr>
            {%endfor%}
        </table>
    </div>
    <br>

    <div class="tableau-3">
        <table class="table table-dark">
            <thead style="background-color: lightgray;">         
                <td class = "vide-tableau3"></td>
                <td class = "gras-tableau">Noms</td>
                <td class = "gras-tableau">Signature</td>
                <td class = "gras-tableau">Date</td>
            </thead>
                <tr>
                    <td class = "vide-tableau3">Approuvé par</td>
                    <td>DERRAHI Samir </td>
                    <td></td>
                    {% for attribution in attributions %}
                    <td> {{attribution.dateAttribution | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}} </td>
                    {% endfor %}
                </tr>
    
                <tr>
                    <td class = "vide-tableau3" >Donnée par</td>
                    {% for user in users %}
                    <td>{{user.nom|upper}} {{user.prenom}}</td>
                    {% endfor %}
                    <td></td>
                    {% for attribution in attributions %}
                    <td> {{attribution.dateAttribution | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}} </td>
                    {% endfor %}
                </tr>
                {% for collaborateur in collaborateurs %}
                <tr>
                    <td class = "vide-tableau3" >Receveur</td>
                    <td>{{collaborateur.nom | upper}} {{collaborateur.prenom}}</td>
                {% endfor %}
                     <td> <img src="{{imageSignSrc}}" height="50" width="100"/></td>
                {% for attribution in attributions %}
                    <td> {{attribution.dateAttribution | format_datetime(locale='fr',pattern="EEEE dd MMMM YYYY")}} </td>
                {% endfor %}
            </tr>


        </table>
    </div>



    <div class="regle">
        <h1 class="titleRegle">Règle d'utilisation :</h1>
        <p>1.	L’utilisation de l’ordinateur est strictement limitée à son utilisation professionnelle.</p>
        <p>2.	Le bénéficiaire est seul responsable de son ordinateur, il doit veiller à le conserver en permanence dans un endroit sécurisé et ne jamais le laisser sans surveillance.</p>
        <p>3.	Le bénéficiaire s’engage à informer le service informatique immédiatement en cas de dysfonctionnement, de vol ou de détérioration.</p>
        <p>4.	En cas de vol ou de perte de matériel, le bénéficiaire doit fournir une déclaration de vol ou de perte établie par la police.</p>
        <p>5.	Le Secours Islamique France étant le seul propriétaire de l’appareil, se réserve le droit à tout moment de le récupérer sans préavis ni indemnité.</p>
        <p> 6.	Le bénéficiaire doit resituer le matériel au service informatique avant son départ définitif de l’organisation.</p>

        <br>

        <div>
            <p>Je confirme avoir pris connaissance des règles citées ci-dessous et je m’engage à les respecter :</p>
        </div>

        <br>
        
        <div>
            <p>Lu et approuvé</p>
        </div>
    </div>

{% endblock %}

