{% extends "layouts/connected/baseConnected.html.twig" %}
{% block title %} Gestion d'attribution - SIF {% endblock %}



{% block body %}

<h2 class = "text-center mt-3"> Liste d'attribution des produits</h2>

{% for message in app.flashes('success') %}
  <div class="alert alert-success">{{message}}</div>
{%endfor%} 

  <div class = "text-center">
    {% include 'layouts/connected/_searchbar.html.twig'with {
      form:form
    } %}
    </div>

    <div class="d-flex flex-row mx-auto col-9 ">
      <div class="ml-auto">
    <a href="{{path ("user_gestion_newItemProduct")}}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"></span>Create new product</a>
  </div>
</div>

    <table class="table table-dark table-bordered table-hover mt-2 w-75 mx-auto h5 text-center">
        <thead class= "table table-light">
          <tr>
            <th class ="w-auto">Nom</th>
            <th class ="w-auto">Prénom</th>
            <th class ="w-auto">Produit</th>
            <th class ="w-25">Date d'attribution</th>
            <th class ="w-25">Date de restitution</th>
          </tr>
        </thead>

    {% for liste in listes %}
    <tr class = "text-center"> 
      <td>{{liste.identifiant}}</td> 
      <td>{{liste.nom}}</td> 
      <td>{{liste.category}}</td> 
      <td><a type="submit" href="{{path('user_gestion_delete', {'id': liste.id }) }}" class="btn btn-danger btn-sm w-auto "> DELETE </a>
        <a type="submit" href="{{path('user_gestion_edit', {'id': liste.id }) }}" class="btn btn-outline-primary btn-sm w-auto  "> EDIT </a></td> 
    </tr>

    {% endfor %}
    </table>
    <div class = "mt-4 text-center">
      {{ knp_pagination_render(listes)}}
    </div>
{% endblock %}


