{% extends "layouts/connected/baseConnected.html.twig" %}
{#{% block title %} Gestion de fourniture - SIF {% endblock %}#}



{% block body %}
<h2 class = "text-center mt-4 "> Gestion des collaborateurs
  <div>
    {% include 'layouts/connected/_searchbar.html.twig'with {
      form:form
    } %}
    </div>
    <div class="d-flex flex-row mx-auto col-9 ">
      <div class="ml-auto">
    <a href="{{path ("user_gestion_newItem")}}" class="btn btn-primary border-width-2 d-none d-lg-inline-block"></span>Create new collaborateur</a>
  </div>
</div>

 <table class="table table-dark table-bordered table-hover mt-4 w-75 mx-auto h5 text-center">
    <thead class= "table table-light">
          <tr>
            <th class ="w-25">Nom</th>
            <th class ="w-auto">Prenom</th>
            <th class ="w-25">Email</th> 
            <th class ="w-25">Contract</th>
            <th class ="w-auto">Département</th>
            <th class ="w-100">Action</th>
          </tr>
        </thead>
    {% for collaborateur in collaborateurs %}
   
    <tr class = "text-center">
        <td>{{collaborateur.nom}}</td>
        <td>{{collaborateur.prenom}}</td>
        <td>{{collaborateur.email}}</td>
        <td>En cours</td>
        <td>{{collaborateur.id}}</td>
        <td><button type="submit" href=" {{path('user_gestion_collaborateur_delete', {'id': user.id }) }}" class="btn btn-danger btn-sm w-auto "> DELETE </button>
          <button type="submit" class="btn btn-outline-primary btn-sm w-auto"> EDIT </button></td> 
    
    </tr>
    {% endfor %}
    </table>
    <div class = " pagination text-center mt-4 navigation flex justify-center">
      {{ knp_pagination_render(collaborateurs)}}
    </div>
{% endblock %}
