{% extends "layouts/connected/baseConnected.html.twig" %}
{% block title %} Gestion de fourniture - SIF {% endblock %}



{% block body %}
<h2 class = "text-center mt-4"> Gestion des comptes Utilisateurs
  <div>
    {% include 'layouts/connected/_searchbar.html.twig'with {
      form:form
    } %}
    </div>

  <table class="table table-dark table-bordered table-hover mt-4 w-75 mx-auto h5">
    <thead class= "table table-light">
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Mot de passe</th>
            <th>Role</th>
            <th>#</th>
            <th>Action</th>
          </tr>
        </thead>
    {% for user in users %}
    <tr class = "text-center"> 
      <td>{{user.nom}}</td> 
      <td>{{user.prenom}}</td> 
      <td>{{user.email}}</td> 
      <td>{{user.password}}</td> 
      <td>EN COURS</td> 
      <td>{{user.id}}</td> 
    </tr>
    {% endfor %}
    </table>
    <div class = " pagination text-center mt-4 navigation flex justify-center">
      {{ knp_pagination_render(users)}}
    </div>
{% endblock %}
